<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <link href="https://fonts.googleapis.com"  rel="preconnect">
        <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="{{ url_for('static', filename='styles/main.css') }}" rel="stylesheet" type="text/css" />
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
    <body id="body" >

        <header id="top_bar" class="mdc-top-app-bar">
            <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <button id="open_sidebar" class="open_sidebar_button material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Open navigation menu" onclick="sidebar_openclose()">menu</button>
                {% block topbar_title %} {% endblock %}
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                {% block topbar_user_info %} {% endblock %}
            </section>
            </div>
        </header>

        <div class="main_content">
            <aside id="main_sidebar" class="main_sidebar mdc-drawer mdc-drawer--modal" style="width: 0px;" >
                <div class="mdc-drawer__content mdc-list">
                    {% block sidebar_items %} {% endblock %}
                </div>
            </aside>

            <div id="page_content" class="page_content" onclick="sidebar_close()" >

                {% if get_flashed_messages() %}
                    <div id="mdc-dialog" class="mdc-dialog" style="display: block;" >
                        <div class="mdc-dialog__container">
                            <div class="mdc-dialog__surface"
                                role="alertdialog"
                                aria-modal="true"
                                aria-labelledby="my-dialog-title"
                                aria-describedby="my-dialog-content">
                                <div class="mdc-dialog__title" id="my-dialog-title">
                                    Info
                                </div>
                                {% for message in get_flashed_messages() %}
                                <div class="mdc-dialog__content" id="my-dialog-content">{{ message }}</div>
                                {% endfor %}
                                <div class="mdc-dialog__actions">
                                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="okay" onclick="popup_openclose()" >
                                        <div class="mdc-button__ripple"></div>
                                        <span class="mdc-button__label">OK</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="mdc-dialog__scrim" onclick="popup_openclose()" ></div>
                    </div>
                {% endif %}

                <div class="content">{% block content %} {% endblock %}</div>
            </div>
        </div>

    </body>
    <script src="/static/scripts/main.js" type="text/javascript" ></script>
</html>