{% extends 'base.html' %}

{% block title %}Indicacion ({{ indication['name'] }}) - Laboratorio Doof{% endblock %}


{% block topbar_title %}
<span class="mdc-top-app-bar__title">Consultar Indicacion</span>
{% endblock %}


{% block topbar_user_info %}
<div class="user_info_topbar" >
    <h1 class="user_text_topbar" >{{ current_user["name"] }}</h1>
    <h1 class="user_text_topbar" >@{{ current_user["username"] }}</h1>
</div>
{% endblock %}


{% block sidebar_items %}
<div class="list_items_top">
    <a class="mdc-list-item" href="{{ url_for('main_page') }}">
        <span class="mdc-list-item__ripple"></span>
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
        <span class="mdc-list-item__text mdc-list-item__text_active">Inicio</span>
    </a>
    <a class="mdc-list-item" href="{{ url_for('categories_list') }}">
        <span class="mdc-list-item__ripple"></span>
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">list</i>
        <span class="mdc-list-item__text">Categorias</span>
    </a>
    <a class="mdc-list-item" href="{{ url_for('exams_list') }}">
        <span class="mdc-list-item__ripple"></span>
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">medical_services</i>
        <span class="mdc-list-item__text">Exámenes</span>
    </a>
    <a class="mdc-list-item" href="{{ url_for('indications_list') }}">
        <span class="mdc-list-item__ripple"></span>
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">checklist</i>
        <span class="mdc-list-item__text">Indicaciones</span>
    </a>
    <a class="mdc-list-item" href="{{ url_for('user_tab') }}">
        <span class="mdc-list-item__ripple"></span>
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">people</i>
        <span class="mdc-list-item__text">Usuario</span>
    </a>
</div>
<div class="list_items_bottom">
    <a class="mdc-list-item mdc-list-item_about" href="#">
        <span class="mdc-list-item__ripple"></span>
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">info</i>
        <span class="mdc-list-item__text">Informacion</span>
    </a>
</div>
{% endblock %}

{% block content %}
    <h1 class="title_center first_title" >Consultar Indicacion</h1>
    <form method="post">
        <div class="content_w_bg_group" >
            <img id="image_bg" class="image_bg" src="https://images.pexels.com/photos/594233/pexels-photo-594233.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" alt="Lighted Purple Fiber Optic Lamp">
            <div id="ac_cont" class="actual_content">
                <div class="centered_items" style="height: 100%;">
                    <div class="textfields_login">
                        <label class="mdc-text-field mdc-text-field--outlined">
                            <span class="mdc-notched-outline">
                                <span class="mdc-notched-outline__leading"></span>
                                <span class="mdc-notched-outline__notch"></span>
                                <span class="mdc-notched-outline__trailing"></span>
                            </span>
                            <input type="text" id="indication_name" name="indication_name" placeholder="Nombre de Indicacion" class="text_input" readonly="readonly" value="{{ indication['name'] }}">
                        </label>
                        <label class="mdc-text-field mdc-text-field--outlined">
                            <span class="mdc-notched-outline">
                                <span class="mdc-notched-outline__leading"></span>
                                <span class="mdc-notched-outline__notch"></span>
                                <span class="mdc-notched-outline__trailing"></span>
                            </span>
                            <input type="text" id="indication_instruction" name="indication_instruction" placeholder="Instruccion" class="text_input" readonly="readonly" value="{{ indication['instruction'] }}">
                        </label>
                    </div>
                    <div class="buttons_login">
                        <a href="{{ url_for('indications_list') }}">
                            <button type="button" class="mdc-button mdc-button--outlined">
                                <span class="mdc-button__ripple"></span>
                                <span class="mdc-button__label">Cancelar</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}